html, body {
    margin: 0;
    padding: 0;
    width: 100%;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    line-height: 24px;
}

img {
    width: 100%;
}

a {
    color: rgb(65, 130, 20);
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a:hover,
a:focus {
    color: rgb(35, 70, 10);
}

.wrapper {
    position: relative;

    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 30px;
    width: 1024px;
}

.title {
    margin: 30px 60px;
    font-size: 1.77rem;
    color: rgb(65, 130, 20);
}

:root {
    --swiper-theme-color: rgb(65, 130, 20);
}



.page-header {
    margin: 0;
    padding: 0;

    height: 400px;
    background-color: rgb(175, 255, 120);
}

.author {
    width: calc(100% - 350px);

    display: flex;
    flex-direction: column;
}

.author__specialty {
    margin: 0 0 30px 0;

    font-size: 2.11rem;
    line-height: 2.11rem;
    text-decoration: underline;
    color: rgb(65, 130, 20);

    order: 2;
}

.author__name {
    margin: 60px 0 0 0;
    font-size: 2.77rem;
    line-height: 2.77rem;
}

.author__photo {
    position: absolute;
    top: 50px;
    right: 30px;
    
    width: 300px;
    height: 300px;
    
    overflow: hidden;
    border-radius: 50%;
}

.contacts {
    width: calc(100% - 350px);
}

.contacts__list {
    margin: 30px 0 0 60px;

    font-size: 1.22rem;
    line-height: 2rem;
}



.education {
    margin: 50px 0;
    border: 2px solid rgb(35, 70, 10);
}

.education-title {
    margin: 0;
    padding: 30px 60px;
    background-color: rgb(175, 255, 120);
}

.education__list {
    box-sizing: border-box;
    margin: 0;
    padding: 0 60px;

    line-height: 30px;

    max-height: 0;
    overflow: hidden;
    transition: 0.5s;
}

.education__list.active {
    padding: 30px 60px;
    max-height: 300px;
}



.swiper-container {
    margin-bottom: 50px;
    
    border: 2px solid rgb(35, 70, 10);
    background: linear-gradient(to top left, rgb(175, 255, 120) 50%, #fff 50%);
}

.slide {
    padding: 0 50px;
    display: flex;
    align-items: center;
}

.swiper__btn {
    display: none;
}

.slide__description {
    box-sizing: border-box;
    padding: 10px 5% 10px 60px;
    width: 50%;
}

.slide__title {
    font-size: 1.4rem;
    line-height: 2rem;
    color: rgb(65, 130, 20);
}

.slide__item {
    position: relative;
    padding-left: 20px;
    line-height: 1.5rem;
}

.slide__item::before {
    content: "";

    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(65, 130, 20);
}

.slide__link {
    box-sizing: border-box;
    width: 50%;
    height: 500px;
    overflow: hidden;
}

.slide__img {
    width: 100%;
    
}



@media (max-width: 1024px) {
    html, body {
        font-size: 16px;
    }

    .wrapper {
        width: 100%;
    }
}

@media (max-width: 900px) {
    .page-header {
        height: auto;
    }

    .author {
        width: 100%;
    
        justify-content: center;
    }

    .author__photo {
        position: static;
        margin: 30px auto;
        order: 1;
    }

    .author__name {
        margin: 0 auto 10px;
        order: 2;
    }

    .author__specialty {
        margin: 0 auto;
        order: 3;
    }

    .contacts {
        display: flex;
        width: 100%;
    }

    .contacts__list {
        margin: 0 auto;
        padding: 30px 0;
    }



    .slide__description {
        padding: 10px 5% 10px 10px;
        width: 30%;
    }

    .slide__link {
        width: 70%;
    }
}

@media (max-width: 700px) {
    .slide {
        padding: 50px 0;
        position: relative;
        flex-direction: column;

        overflow: hidden;
    }

    .swiper__btn {
        position: absolute;
        display: block;
        width: 100%;
        height: 50px;
        color: rgb(35, 70, 10);
        font-weight: 700;
        border: none;
        background: transparent;

        outline: none;
        z-index: 2;
        cursor: pointer;
    }

    .slide__description {
        position: absolute;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        background: linear-gradient(to top right, rgb(175, 255, 120) 50%, #fff 50%);
        transition: 0.5s;
    }

    .slide__description.active {
        top: 0;
    }

    .slide__link {
        width: 100%;
        height: 300px;
    }
}

@media (max-width: 600px) {
    html, body {
        max-width: 500px;
        min-width: 375px;
        font-size: 15px;
    }
}